<div class="bg-gray-900">
  <div class="px-4 py-5">
    <ul class="flex space-x-8">
      <li>
        <a
          class="font-medium tracking-wide text-gray-100 transition-colors duration-200 hover:text-teal-accent-400"
          >Product</a
        >
      </li>
      <li>
        <a
          class="font-medium tracking-wide text-gray-100 transition-colors duration-200 hover:text-teal-accent-400"
          >Features</a
        >
      </li>
      <li>
        <a
          class="font-medium tracking-wide text-gray-100 transition-colors duration-200 hover:text-teal-accent-400"
          >Pricing</a
        >
      </li>
      <li>
        <a
          class="font-medium tracking-wide text-gray-100 transition-colors duration-200 hover:text-teal-accent-400"
          >About us</a
        >
      </li>
    </ul>
  </div>
</div>
